<h2>All Questions</h2>
<% Subject.find_each do |subject_id| %>
  <ul>
    <h3><%= link_to subject_id.name, subject_id %></h3>
    <ul>
      <% Question.where(subject_id: subject_id).find_each do |question| %>
        <li>
          <%= link_to question.question_text, question %>
        </li>
      <% end %>
    </ul>
  </ul>
<% end %>
<h3><%= @current_user.username + "'s Submitted Questions" %></h3>
<ul>
  <% @current_user.questions.find_each do |question| %>
    <li>
      <%= link_to question.question_text, question %>
    </li>
  <% end %>
</ul>
