<% @question = random_question %>

  <h2><%= @current_user.username %></h2>
  <!-- <h2><%= @question.subject.name %></h2> -->
  <ul>
  <h3><%= @question.question_text %></h3>
  </ul>
  <%= link_to "Answer", new_question_answer_path(@question), class: 'btn' if @current_user %>
