<h2><%= @subject.name.join(" ") %></h2>

<h3>Questions <%= link_to "Add Question", new_subject_question_path(@subject), class: 'btn btn-mini' if @current_user %></h3>

<ul>
  <% @subject.questions.each do |question| %>
    <li><%= link_to "#{question.question_text}", question %></li>
  <% end %>
</ul>
